<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hss.mapper.OrderMapper">


     <insert id="placeNewOrder" >
         insert into `indent`( order_time, client_name, phone, address) values(now(),#{clientName},#{phone},#{address});
     </insert>
     <select id="selectAllOrder" resultType="com.hss.entity.Indent">
         select  * from `indent` limit  7;
     </select>
</mapper>
